extends layout
block content
  h2= obra.titulo
  img(src=`/img/${obra.imagen}`, alt=obra.titulo, width="400")
  p Autor: #{obra.autor}
  p Año: #{obra.año}
  p Descripción: #{obra.descripcion}
  a(href='/galeria') ← Volver a la galería
